
<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <p class="pull-left">
        Copyrights &copy; @DateTime.Now.Year.ToString() - Dextermd. All rights reserved. &nbsp;
    </p>
    <p class="pull-right">
        <a href="" class="mr5">DEXTERMD</a>
        
        <a href="" class="ml5 mr25"></a>
    </p>
</div>