
<div id="header" class="page-navbar">

    <a href="index.html" class="navbar-brand hidden-xs hidden-sm pt5 pl10">
        <img src="img/1111.jpeg" class="logo hidden-xs" alt="Dynamic logo">
        <img src="img/logosm.png" class="logo-sm hidden-lg hidden-md" alt="Dynamic logo">
    </a>

    <div id="navbar-no-collapse" class="navbar-no-collapse">

        <ul class="nav navbar-nav">
            <li class="toggle-sidebar">
                <a href="#">
                    <i class="fa fa-reorder"></i>
                    <span class="sr-only">Collapse sidebar</span>
                </a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">

            @*<li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="sr-only">Notifications</span>
                    <span class="badge badge-danger">6</span>
                </a>
                <ul class="dropdown-menu right dropdown-notification" role="menu">
                    <li>
                        <a href="#" class="dropdown-menu-header">Notifications</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-life-buoy"></i> 2 support request</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-gear"></i> Settings is changed</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-weather-lightning"></i> 5 min server downtime</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-server2"></i> Databse backup is complete</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-lightbulb"></i> SuggeElson push 1 commit</a>
                    </li>
                    <li>
                        <a href="#" class="view-all">View all <i class="l-arrows-right"></i> </a>
                    </li>
                </ul>
            </li>*@

            <li>
                <a href="" class="">
                    <i class="fa fa-power-off"></i>
                    <span class="sr-only">Logout</span>
                </a>
            </li>

            @*<li>
                <a id="toggle-right-sidebar" href="#" class="tipB" title="Toggle right sidebar">
                    <i class="l-software-layout-sidebar-right"></i>
                    <span class="sr-only">Toggle right sidebar</span>
                </a>
            </li>*@

        </ul>
    </div>
</div>
