<!doctype html>

<html class="no-js">

    @await Html.PartialAsync("PartialViews/_head")

    <body>

        @await Html.PartialAsync("PartialViews/_navbar")

        <div id="wrapper">

            <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
                <div class="sidebar-inner">
                    <div class="sidebar-scrollarea">

                        @await Html.PartialAsync("PartialViews/_profile_left_sidebar")

                        <div class="sidebar-panel">
                        <h5 class="sidebar-panel-title text-center">Навигация</h5>
                        </div>

                        <div class="side-nav">
                            <ul class="nav">
                                @await Html.PartialAsync("PartialViews/_li_of_menu_left")
                            </ul>
                        </div>

                        @await Html.PartialAsync("PartialViews/_menu_bottom_left")

                    </div>

                </div>

            </aside>

            @await Html.PartialAsync("PartialViews/_right_sidebar")

        <!-- .page-content -->
        <div class="page-content sidebar-page clearfix">
            <!-- .page-content-wrapper -->
            <div class="page-content-wrapper">
                <div class="page-content-inner">
                    <!-- .page-content-inner -->
                    <div id="page-header" class="clearfix">
                        <div class="page-header">
                            <h2>
                                Обзорная панель
                            </h2>
                            <span class="txt">Добро пожаловать!</span>
                        </div>
                        <div class="header-stats">
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">0</span>def</div>
                                <div id="spark-visitors" class="sparkline"></div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">0</span>def</div>
                                <div id="spark-templateviews" class="sparkline"></div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">0</span>def</div>
                                <div id="spark-sales" class="sparkline"></div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                </div>
                <!-- / .page-content-inner -->
            </div>
            <!-- / page-content-wrapper -->
        </div>
        <!-- / page-content -->


        </div>

        @await Html.PartialAsync("PartialViews/_footer")

        <div id="back-to-top"><a href="#">Back to Top</a></div>

        @await Html.PartialAsync("PartialViews/_scripts")

    </body>

</html>